 .main_content {
     margin: 100px 0px;
     display: flex;
 }

 .header {
     position: fixed;
     top: 0;
 }

 .left_content {
     flex: 1;
     /* position: fixed; */
     width: 20%;
     overflow-y: scroll;
     min-height: 100vh;
     scrollbar-width: thin;
     /* Set the width of the scrollbar */
     scrollbar-color: #888888 #dddddd;
 }

 .left_content::-webkit-scrollbar {
     width: 8px;
     /* Set the width of the scrollbar */
 }

 .left_content::-webkit-scrollbar-track {
     background: #dddddd;
     /* Set the background color of the track */
 }

 .left_content::-webkit-scrollbar-thumb {
     background-color: #eaeaea;
     /* Set the color of the thumb */
     border-radius: 4px;
     /* Round the corners of the thumb */
 }

 .content{
     flex: 4;
/*  */
 }