.content_container {
    display: flex;
    height: 87vh;
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 60%;
    margin: 0 auto;
    padding: 15px 0px;
    gap: 30px;
}

.profile {
    flex: 1;
}

.userprofilepic {
    border-radius: 50px;
}

.content_details {
    flex: 5;
}

.user {
    flex: 0.1;
    top: 0;
    justify-content: flex-start;
    display: flex;
    height: 20px;
    gap: 10px;
    padding-left: 10px;
    align-items: center;
}

.name {
    font-size: 20px;
}

.username {
    font-size: 10px;
}

.desc {
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    color: #494949;
    /* min-height: 100px; */
}

.hashtag {
    font-weight: bold;
}

.foryoupost {
    flex: 6;
    height: 78vh;
    display: flex;
}

.postfooter {
    justify-content: flex-end;
    /* gap: 20px; */
    align-items: center;
    display: flex;
    flex-direction: column;
}

.postfooter span {
    font-size: 20px;
    padding: 0px 0px 40px 40px;
}

.posticons {
    background-color: rgb(126, 126, 126, 0.1);
    padding: 20px;
    border-radius: 50px;
}

.posticons:hover {
    cursor: pointer;
}


.follow {
    flex: 1;
}

.followButton {
    padding: 4px 40px;
    background-color: rgb(255, 255, 255);
    margin: 40px 0px 0px 40px;
    color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-weight: bold;
}

.followButton:hover {
    color: white;
    cursor: pointer;
    background-color: red;
}