.siderbar_container {
    display: flex;
    flex-direction: column;
}

.topsection {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(250, 243, 243);
}

.activebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.activebar:hover {
    cursor: pointer;
    background-color: rgb(136, 136, 136, 0.1);
}

.icons_sidebar {
    font-size: 25px;
}


.bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 15px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.bar:hover {
    cursor: pointer;
    background-color: rgb(136, 136, 136, 0.1);
}
.suggestedtext{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:rgb(155, 155, 155);
}
.loginsection {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(250, 243, 243);
}

.login_slogan {
    color: rgb(168, 168, 168);
    font-size: 17px;
    padding: 0px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login_Button_sidebar {
    padding: 0px 40px;
    background-color: rgb(255, 255, 255);
    padding: 10px 75px;
    color: red;
    border-radius: 4px;
    border: 1px solid red;
    font-weight: bold;
    text-decoration: none;
}

.login_Button_sidebar:hover {
    background-color: red;
    color: antiquewhite;
}

.suggestedprofile {
    display: flex;
    margin: 20px 10px;
}

.suggested_username {
    font-weight: bold;
    font-size: 14px;
}
.user_suggested_details{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.suggestedimglive {
    border-radius: 50px;
    border: 2px dotted red;
}

.suggestedimg {
    border-radius: 50px;
}