.header {
    width: 100%;
    position: fixed;
    height: 10vh;
    display: flex;
    border-bottom: 1px solid rgb(173, 173, 173, 0.6);
}

.leftHeader {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.middleHeader {
    flex: 2;
    /* background-color: aqua; */

}

.middleHeader input {
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 59%;
    font-size: 16px;
    border: none;
    height: 60%;
    margin: 10px;
    background-color: rgb(158, 158, 158, 0.1);
    padding-left: 10px;

}

.middleHeader span {
    width: 59%;
    border: none;
    height: 60%;
    margin-left: -49px;
    font-size: 20px;
    color: rgb(192, 192, 192);
    /* border-left: 1px solid rgb(111, 111, 111); */
}

.middleHeader input:focus {
    /* border:none; *:focus { */
    outline: none;
}

.rightHeader {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.upload {
    background-color: #ffffff;
    border: 1px solid rgb(144, 144, 144);
    padding: 10px 35px;
    font-size: 15px;
    color: rgb(100, 100, 100);
    display: flex;
    gap: 10px;
    font-weight: bold;
}

.loginButton {
    background-color: rgb(255, 31, 31);
    padding: 10px 35px;
    color: #ffffff
}